*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
main{
    background-color: cornflowerblue;
    color: white;
    height: 80vh;
}

main div{
    margin: 1rem;
    font-weight: 500;
}

main, form{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
}
form{
    height: 20vh;

    
}
input{
    border: none;
    border-bottom: 3px solid grey;
    width: 40vw;
    padding: 0.5rem;
    font-size: 1.5rem;
    outline: none;
    background: transparent;
}
button{
    height:3rem;
    width:8rem;
    padding: 5px;
    border:none;
    background-color: whitesmoke;
    margin-left: 1rem;
    cursor: pointer;

}