*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
main{
    background-color: cornflowerblue;
    color: white;
    height: 80vh;
}
main, form{
    display: flex;
    justify-content: center;
    align-items: center;
}
form{
    height: 20vh;
    
}
input{
    
}