
  body { font-family: 'Times New Roman', Times, serif; background-color: rgb(64, 61, 61); color: white }
  .navbar { background-color: #1dc6b8; overflow: hidden; }
  .navbar a { float: left; display: block; color: white; text-align: center; padding: 14px 16px; text-decoration: none; }
  .navbar a:hover { background-color: black; color: white; }
  .main-content { padding: 16px; }
  .project { margin-bottom: 20px; }
  .project img { width: 100%; height: auto; }
